$breakpoints: (
  "small": 44em,
  "medium": 50em,
  "large": 75em,
);

$clr-primary: (
  300: hsl(236, 72%, 79%),
  400: hsl(237, 63%, 64%),
);

$clr-neutral: (
  100: hsl(240, 78%, 98%),
  200: hsl(234, 14%, 74%),
  300: hsl(233, 13%, 49%),
  400: hsl(232, 13%, 33%),
);
